.blog-article{
    display: flex;
    max-width: 960px;
    margin: 70px auto 30px;
}

.blog-container{
    flex: 2;
    padding: 30px 15px;
}
.blog-aside{
    flex: 1;
    padding: 30px 15px;
}

.blog-card{
    background: #f7f7f7;
    margin: 0 auto 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    overflow: hidden;
}
.blog-cover{
    background: lightgray url('../img/img04.jpg') center no-repeat;
    background-size: cover;
    height: 200px;
}
.blog-cover-2{
    background: lightgray url('../img/img07.jpg') center;
    background-size: cover;
    height: 200px;
}
.blog-body{
    padding: 27px;
}
.blog-title{
    margin-bottom: 25px;
}
.blog-title h2{
    font-weight: 100;
    font-size: 30px;
    line-height: 1.3em;
}
.blog-title{
    line-height: 1.5em;
    color: #464646;
}
.blog-tags ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    background: lightgray;
    padding: 10px;
    border-radius: 5px;
    margin: 25px 0;
}
.blog-tags li{
    padding: 0 5px 0 0;
}
.blog-tags a{
    text-decoration: none;
    color: #464646;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 14px;
    background: white;
    transition: all 250ms ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}
.blog-tags a:hover{
    border: 1px solid #464646;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.blog-footer{
    border-top: 1px solid lightgray;
    padding: 12px 0;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.aside-search,
.aside-recent{
    background: #f7f7f7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 45px 25px 50px;
    margin-bottom: 50px;
}
.search-title{
    font-size: 25px;
    color: #454546;
}
.search-delimeter{
    width: 100px;
    margin: 25px 0 37px;
    height: 1px;
    background: rgba(206, 65, 110, 0.74);
}
.search-text, .search-do{
    border: 1px solid #ce416e;
    padding: 15px;
    border-radius: 6px;
}
.search-text{
    width: 170px;
}
.search-do{
    background: #ce416e;
    color: white;
    cursor: pointer;
}
.recent-item:not(:last-child){
    margin-bottom: 25px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}
.recent-item p{
    color: #454546;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 250ms ease;
}
.recent-item p:hover{
    color: #ce416e;
}
.recent-item span{
    color: #454546;
    font-size: 14px;
}
@media screen and (max-width: 992px){
    .blog-container{
        max-width: 600px;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    
}
@media screen and (max-width: 576px){
    
}